# Tuples
A Tuples is similar to a List
The difference between the two is that we cant change the elements of tuple once it is assigned where 
as in list elements can be changed
Tuple is immutable
Tuples are put in parenthesis while lists are put in square bracekts

In [3]:
t1 = (1, 2, "hello", True)
t1

(1, 2, 'hello', True)

In [4]:
# Access tuple items with indexing numbering
t1[1]

2

In [5]:
# Negative index refers the tuple from the last item
t1[-1]

True

In [8]:
# Range of index
t1[-3:-1]

(2, 'hello')

In [9]:
# Length of tuple
len(t1)

4

In [11]:
# To add items
t1[3] = False

TypeError: 'tuple' object does not support item assignment

In [12]:
# To remove the tuple
del(t1)

t1

In [14]:
t1 = (1, 2, "hello", True)
t2 = (False, "World")
t3 = t1+t2
t3

(1, 2, 'hello', True, False, 'World')

In [15]:
# Count no of times a word is repeating
t3.count(2)

1

In [16]:
# To find the index no of an item in the tuple
t3.index("hello")

2

In [20]:
# Tuple with one value end with comma
t4 = (2,)
t4

(2,)

In [21]:
# Nested tuple
# Index of first tu# rple=0, second=1, third=2,...
t5 = (1,(2,3,4),[1,"hello","world",28,'abc'])
t5

(1, (2, 3, 4), [1, 'hello', 'world', 28, 'abc'])

In [22]:
# Repeat the elements in a tuple for a given number of times using the * operator
t6 = (("hello",)*4)
t6

('hello', 'hello', 'hello', 'hello')

In [23]:
# Tuple sort
t7 = (3,2,1,5,6,4)
t8 = sorted(t7)
t8

[1, 2, 3, 4, 5, 6]

In [24]:
# Largest elements
max(t8)

6

In [25]:
# Smallest elements
min(t8)

1

In [26]:
# For loop using tuple
t = (1,2,3,4,5)
print('tuple')
for x in t:
    print(x)

tuple
1
2
3
4
5